---
import { getCollection } from 'astro:content';
import ContactCTA from '../components/ContactCTA.astro';
import Grid from '../components/Grid.astro';
import Hero from '../components/Hero.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

const entries = (await getCollection('education')).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf(),
);
---

<BaseLayout
	title="Education | Sayed Mohammad Mahdi Sadrnezhaad"
	description="Academic background in computer science, quantum computing, and physics."
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title="Education"
				tagline="Formal studies in computer science, machine learning, and physics."
				align="start"
			/>
			<Grid variant="offset">
				{
					entries.map((entry) => (
						<li>
							<PortfolioPreview entry={entry} hrefBase="/education" />
						</li>
					))
				}
			</Grid>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>

